# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=app_user
DB_PASSWORD=very_hard_password
DB_NAME=backend_homeworks_db

# App
PORT=3000

# Jwt
JWT_ACCESS_SECRET=super_mega_unbelievable_secret_code
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d